# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment

# Direnv
.envrc
.direnv/

# Testing
.pytest_cache/
htmlcov/
.coverage
*.cover
.hypothesis/

# Code Quality
.mypy_cache/
.tox/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
